<html>
	<head>
		<title>Colombian Crush</title>
		<script>
			var elm1, elm2, tmpElm;
			var seleccionado=false;
			
			function cambiarElemento(id) {
				if(seleccionado==false) {
					elm1 = document.getElementById(id)
					seleccionado=true;
				} else {
					elm2 = document.getElementById(id)
					tmpElm = elm1.getAttribute("src")
					elm1.src = elm2.getAttribute("src")
					elm2.src = tmpElm
					seleccionado=false;
				}	
			}
			
			function my_onkeydown_handler() {
			    switch (event.keyCode) {
			        case 116 : // 'F5'
			            event.returnValue = false;
			            event.keyCode = 0;
			            window.status = "We have disabled F5";
			            break;
			    }
			}
		</script>
	</head>
	
	<body align="center" onkeydown="my_onkeydown_handler()">
		<table border="5" id="tablero" align="center">
			{% for fila in tabla %}
				<tr>
				{% for columna in fila %}
					<td onMouseOver="this.bgColor='#AAAAAA'" onMouseout="this.bgColor='#FFFFFF'">
						<img src="{{columna.dibujar}}" id="{{columna}}" 
						onmousedown="cambiarElemento('{{columna}}')"/>
					</td>
				{% endfor %}
				</tr>
			{% endfor %}
		</table>
	</body>

</html>